<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<!-- Inline CSS -->
<style>
    /* Fixed-top navbar nedeniyle sayfa içeriğinin üstten taşmaması için padding */
    
    /* Fixed-top navbar nedeniyle sayfa içeriğinin üstten taşmaması için padding */
    body {
        margin: 0;
        padding-top: auto; /* Navbar yüksekliğine göre ayarlayın */
    }

    .navbar-brand {
        font-weight: bold;
        font-size: 1.2rem;
        color: #000;
        text-decoration: none;
    }

    .img-circle {
        border-radius: 20%;
    }

    .notification {
        background: red;
        color: #fff;
        font-size: 0.75rem;
        border-radius: 50%;
        padding: 2px 6px;
        position: absolute;
        top: -5px;
        right: -5px;
    }
</style>

﻿<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>

<div class="main-header">

    <script type="text/javascript">

        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7031/SignalRHub").build();
            $("#connstatus").text(connection.state);
            connection.start().then(() => {
                $("#connstatus").text(connection.state);
                setInterval(() => {
                    connection.invoke("SendNotification");
                }, 1000);
            }).catch((err) => { console.log(err) });


            connection.on("ReceiveNotificationCountByFalse", (value) => {
                $("#notificationcount").text(value);
            });

            connection.on("ReceiveNotificationListByFalse", (value) => {
                console.log(value);
                $("#notilist").empty();
                for (var i = 0; i < value.length; i++) {
                    $("#notilist").append(`<a href="#">
                            <div class="${value[i].type}"><i class="${value[i].icon}"></i></div>
                            <div class="notif-content">
                            <span class="block">
                            ${value[i].description}
                            </span>
                            <span class="time">${value[i].date}</span>
                            </div>
                            </a>
                            `)
                };
            });
        });

    </script>

<!-- Tek navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="index.html">Grand Grill 🔥</a>
        <!-- Toggle Button (mobil görünüm) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar içeriği -->
        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Arama Formu -->
            <form class="navbar-form m-auto" action="">
                <div class="input-group">
                    <input type="text" placeholder="Aranacak Kelime..." class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search search-icon"></i>
                        </span>
                    </div>
                </div>
            </form>
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-envelope"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Gelen Mesajlar</a>
                            <a class="dropdown-item" href="#">Rezervasyonlar</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">İletişim</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-bell"></i>
                            <span class="notification" id="notificationcount"></span>
                        </a>
                        <ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
                            <li>
                                <div class="dropdown-title">Yeni Bildirimleriniz Var</div>
                            </li>
                            <li>
                                <div class="notif-center">
                                    <div id="notilist"></div>
                                </div>
                            </li>
                            <li>
                                <a class="see-all" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="la la-angle-right"></i> </a>
                            </li>
                        </ul>
                    </li>
                <!-- Profil Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                        <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile6.jpg" alt="user-img" width="36" class="img-circle">
                        <span>Sevcan Arığ</span>
                    </a>
                    <div class="dropdown-menu dropdown-user">
                        <div class="user-box">
                            <div class="u-img">
                                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile6.jpg" alt="user">
                            </div>
                            <div class="u-text">
                                <h4>Admin</h4>
                                <p class="text-muted">sevcanarig01@gmail.com</p>
                                <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">Menüyü Gör</a>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-user"></i> Menü</a>
                        <a class="dropdown-item" href="#">Ayarlar</a>
                        <a class="dropdown-item" href="#"><i class="ti-email"></i> Rezervasyonlar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Dashboard</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a>
                    </div>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</div>